<div class="modal fade" id="addReviewModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-body m-1">
      <div class="modal-header bg-dark">
        <div class="row text-center w-75 mx-auto">
          <h4 *ngIf="success === false" class="modal-title col col-12">
            What did you think?
          </h4>
          <h4 *ngIf="success" class="modal-title col col-12">
            Thanks for your feedback!
          </h4>
        </div>
        <button
          type="button"
          class="btn-close btn-close-white position-absolute top-0 end-0 m-2"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container text-light">
          <form
            [formGroup]="myForm"
            [hidden]="success"
            (ngSubmit)="handleSubmit()"
            *ngIf="success === false"
          >
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              id="name"
              class="form-control mb-2"
              placeholder="Your Name"
              formControlName="name"
              [class.is-invalid]="!!name?.dirty && !!name?.invalid"
              [class.is-valid]="!!name?.valid"
            />

            <label for="rating" class="form-label">Rating</label>
            <select
              name="rating"
              id="rating"
              class="form-select mb-2"
              formControlName="rating"
              [class.is-invalid]="!!rating?.dirty && !!rating?.invalid"
              [class.is-valid]="!!rating?.valid"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <label for="reviewBody" class="form-label">Description</label>
            <textarea
              name="reviewBody"
              id="reviewBody"
              class="form-control mb-3"
              style="min-height: 150px"
              placeholder="leave a comment about the book..."
              formControlName="reviewBody"
              [class.is-invalid]="!!reviewBody?.dirty && !!reviewBody?.invalid"
              [class.is-valid]="reviewBody?.valid"
            ></textarea>

            <div class="d-flex flex-row justify-content-end">
              <button
                type="button"
                class="btn btn-secondary px-3 mx-2"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary text-light"
                [disabled]="myForm.invalid"
                [ngClass]="{
                  'btn-success': myForm.valid,
                  'text-dark': myForm.valid
                }"
              >
                Review
              </button>
            </div>
          </form>
          <div *ngIf="success">
            <app-form-submit-success></app-form-submit-success>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
