/* 
    File:           styles.scss
    Project:        book-list
    Description:    Global Themes for
    Author:         Dustin Wahba
*/

// dracula colors https://draculatheme.com/contribute/
$dr-background: #282a36;
$dr-currentLine: #44475a;
$dr-foreground: #f8f8f2;
$dr-comment: #6272a4;
$dr-cyan: #8be9fd;
$dr-green: #50fa7b;
$dr-orange: #ffb86c;
$dr-pink: #ff79c6;
$dr-purple: #bd93f9;
$dr-red: #ff5555;
$dr-yellow: #f1fa8c;

// bootstrap color overrides
$blue:      $dr-comment;
$purple:    $dr-purple;
$pink:      $dr-pink;
$red:       $dr-red;
$orange:    $dr-orange;
$yellow:    $dr-yellow;
$green:     $dr-green;
$cyan:      $dr-cyan;
$white:     $dr-foreground;

// bootstrap theme overrides
$dark:      $dr-background;
$body-bg: $dr-currentLine;
$secondary: lighten($body-bg, 25%);

// misc. bootstrap overrides
$enable-shadows: true;

$border-radius:               .5rem;    // 50% increase over defaults
$border-radius-lg:            .6rem;
$border-radius-sm:            .4rem;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


// "material design" style box shadows 
$box-shadow-sm:               0 14px 28px rgba($black,0.25), 0 10px 10px rgba($black,0.22);
$box-shadow:                  0 3px 6px rgba($black,0.16), 0 3px 6px rgba($black,0.23);
$box-shadow-lg:               0 10px 20px rgba($black, 0.19), 0 6px 6px rgba($black, 0.23);

// add xxl breakpoint for larger screens
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
);


@import "../node_modules/bootstrap/scss/bootstrap.scss";


// extend the card class
.card {
  @extend .card;
  box-shadow: $box-shadow;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}