<!-- NOTE: parent must have row class -->

<!-- TODO: get rid of inline styles -->
<button
  class="card bg-secondary text-light"
  type="button"
  style="min-height: 400px; max-height: 400px"
  data-toggle="modal"
  [attr.data-target]="'#detailView-' + book!.id"
>
  <img
    src="{{ book!.volumeInfo.imageLinks.smallThumbnail }}"
    alt=""
    class="h-100 d-block mx-auto"
    style="max-height: 200px"
  />
  <div class="card-block p-2 text-center">
    <h3 class="card-title text-center">{{ book!.volumeInfo.title }}</h3>
    <p>Published {{ book!.volumeInfo.publishedDate }}</p>
    <app-book-card-description [book]="book"></app-book-card-description>
  </div>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="detailView-{{ book!.id }}"
  tabindex="-1"
  area-labelledby="detailViewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-body">
      <div class="modal-header bg-dark">
        <div class="row text-center">
          <h4 class="modal-title col col-12" id="detailViewLabel">
            {{ book!.volumeInfo.title }}
          </h4>
          <h6 class="col-12">{{ book!.volumeInfo.subtitle }}</h6>
        </div>
        <button
          type="button"
          class="close text-danger"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="!!book!.volumeInfo.authors">
          <span class="font-weight-bold">Author(s): </span>
          {{ book!.volumeInfo.authors!.join(", ") }}
        </p>
        <p *ngIf="!!!book!.volumeInfo.authors">
          <span class="font-weight-bold">Author(s): </span>
          <span class="font-italic text-missing-light"
            >No author information was provided</span
          >
        </p>
        <p>
          <span class="font-weight-bold">Ratings(s): </span>
          <span class="text-missing-light">0</span>
        </p>
        <p>
          <span class="font-weight-bold">Description:</span>
          <span *ngIf="!!book!.volumeInfo.description">
            {{ book!.volumeInfo.description! }}
          </span>
          <span
            *ngIf="!!book!.volumeInfo.description === false"
            class="font-italic text-missing-light"
          >
            no description was provided
          </span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success">Review</button>
      </div>
    </div>
  </div>
</div>
