<!-- NOTE: parent must have row class -->

<!-- TODO: get rid of inline styles -->
<div
  class="my-card text-light container-fluid"
  style="min-height: 400px; max-height: 400px"
  [routerLink]="['books', book!.id]"
>
  <img
    src="{{ book!.volumeInfo.imageLinks.smallThumbnail }}"
    alt=""
    class="h-100 d-block mx-auto"
    style="max-height: 200px"
  />
  <div class="card-block p-2 text-center">
    <h3 class="card-title text-center">{{ book!.volumeInfo.title }}</h3>
    <p>Published {{ book!.volumeInfo.publishedDate }}</p>
    <app-book-card-description [book]="book"></app-book-card-description>
  </div>
</div>
